@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger mt-3">
    <h4>Access Denied</h4>
    <p>You do not have permission to view this page</p>
</div>

<a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary">Back</a>