@{
    ViewData["Title"] = "Logout";
}

<h3>Logout</h3>

<form method="post">
    <p>Would you like to logout</p>
    <div class="mt-3">
        <input type="submit" name="yes" value="Yes" />
        <input type="submit" name="no" value="No" />
    </div>
</form>